
.sortable {
    cursor: pointer;
    color: rgb(85, 221, 176);
}

.warning {
    background-color: #eb5f5f;
}

table {
  color: rgb(163, 0, 136);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 250px;
  background: #dbebff;
}

.header-row {
    background: #8735f1;
    color: rgb(219, 217, 101)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}